/* Source of library styling, incl. course notes:
react-gallery-wrapper
*/

@use "../../styles/variables.module.scss" as *;
@use "../../styles/mixins.module.scss" as *;

/* #region Library styling (very basic) */
.mainNavByMariePierreLessard {
    background-color: $clr-bg-mainnav-by-Marie-Pierre-Lessard;
    min-height: $size-minimum-dev-by-Marie-Pierre-Lessard;

    ul {
        @include verticalListByMariePierreLessard;
        justify-self: center;

        a {
            display: block;
            min-height: $size-minimum-dev-by-Marie-Pierre-Lessard;
        }

        a:hover {
            cursor: pointer;
        }
    }

}

@media (min-width: 768px) {
    .mainNavByMariePierreLessard {

        ul {
            @include horizontalListByMariePierreLessard;
        }

    }
}

.activeNavLinkByMariePierreLessard {
    background-color: $clr-bg-globalheader-by-Marie-Pierre-Lessard;
}

/* #endregion Library styling (very basic, NO responsiveness) */

/* #region Project-specific styling goes here (overriding library styling) */

.mainNavByMariePierreLessard {
    position: sticky;
    top: 0;
    z-index: 3; // 3 to go over positioned graphic elements of timeline (2 layers)

    background-color: $clr-1-by-Marie-Pierre-Lessard;
    border-bottom: 24px solid $clr-5-by-Marie-Pierre-Lessard;
    /* ATTENTION: read comment before changing min-height */
    min-height: 3rem; // This height has to be sufficient for visited links to go up to the top of the nav, BUT just a bit: otherwise, one is tempted to click under the raised link, and then nothing happens because the mouse is not on the link! 
    padding: .5rem;

    ul {
        height: 100%; // This is to make visited links go up to the top of a container. 
        align-items: stretch; //This affects the height of LIs, so that the a elements can go up and down.

        li {
            display: flex;

            a {
                color: $clr-3-by-Marie-Pierre-Lessard;
                text-decoration: none;
                align-self: flex-end;
            }

            a:hover,
            a:focus,
            a:active {
                align-self: flex-start;
                text-decoration: underline;
            }
        }

        /* I have to list them all, or the left-out LIs precede the LIs to which I gave an order property. */
        li:first-of-type {
            order: 1;
        }

        li:nth-of-type(2) {
            order: 2;
        }

        li:nth-of-type(3) {
            order: 3;
        }

        li:last-of-type {
            order: 4;
        }

        @media (min-width: 1440px) {
            li:first-of-type {
                order: 3;
            }

            li:nth-of-type(2) {
                order: 2;
            }

            li:nth-of-type(3) {
                order: 1;
            }

            li:last-of-type {
                order: 4;
            }
        }
    }
}

/* According to console, a NavLink component is an a element. Based on the following explanation,
I deduced that a so-called active NavLink is actually a visited link! That explains why
text-decoration: underline;
and
align-self: flex-start;
do not work, but other CSS declarations do.
For some reason, adding the desired styling with other rollover effects (hover, focus, active) makes
the text underlined when it is visited (an active NavLink).

"Zhen Wong on Feb 6,
2018 First,
Here are some stuff you need to know: Browsers limits the styles that can be set for a:visited links,
due to security issues. Allowed styles are: 
1. color 
2. background-color 
3. border-color (and border-color for separate sides) 
4. outline color 
5. column-rule-color 
6. the color parts of fill and stroke 
***All other styles are inherited from a:link. 
reference - https: //www.w3schools.com/cssref/sel_visited.asp"
https: //teamtreehouse.com/community/my-css-textdecoration-is-not-working
*/
.activeNavLinkByMariePierreLessard {
    background-color: $clr-1-by-Marie-Pierre-Lessard; //Overriding successfully (not difficult)
    font-weight: 700; //Displaying without a problem
}

/* #endregion Project-specific styling */