/* Source of library styling, incl. course notes:
react-gallery-wrapper
*/

@use "../../../styles/variables.module.scss" as *;
@use "../../../styles/mixins.module.scss" as *;

/* #region Library styling (basic, with responsiveness) */
.responsiveGridWoPassePartoutByMariePierreLessard {
    @include gridMobilesWRegGapByMariePierreLessard;
    margin-block: $size-reg-spacing-by-Marie-Pierre-Lessard;
}

@media (min-width: 768px) {
    .responsiveGridWoPassePartoutByMariePierreLessard {
        @include gridTabletsWRegGapByMariePierreLessard;
    }
}

.unresponsiveGridWoPassePartoutByMariePierreLessard {
    @include gridMobilesWRegGapByMariePierreLessard;
    margin-block: $size-reg-spacing-by-Marie-Pierre-Lessard;
}

.responsiveGridWPassePartoutByMariePierreLessard {
    @include gridMobilesWRegGapByMariePierreLessard;
    padding: $size-reg-spacing-by-Marie-Pierre-Lessard;
    background-color: $clr-bg-passe-partout-by-Marie-Pierre-Lessard;
}

@media (min-width: 768px) {
    .responsiveGridWPassePartoutByMariePierreLessard {
        @include gridTabletsWRegGapByMariePierreLessard;
    }
}

/* #endregion Library styling (basic, with responsiveness) */

/* #region Project-specific styling goes here (overriding library styling) */




/* TO DO probably delete the following */

/* The grid without passe-partout is in exercise 1. */
.responsiveGridWoPassePartoutByMariePierreLessard {
    /* Override */
    grid-template-rows: repeat(2, 100vh); //Replacing auto because of the giant pictures
}

@media (min-width: 768px) {
    .responsiveGridWoPassePartoutByMariePierreLessard {
        /* Override */
        grid-template-rows: 90vh; //Replacing auto because of the giant pictures
    }
}

/* The grid with passe-partout is in exercise 2. */
.responsiveGridWPassePartoutByMariePierreLessard {
    /* Override */
    grid-template-rows: repeat(4, 88vh); //Replacing auto because the positioned footer is over the body with auto
}

@media (min-width: 375px) {
    .responsiveGridWPassePartoutByMariePierreLessard {
        /* Override */
        grid-template-rows: repeat(4, 75vh); //Replacing auto because the positioned footer is over the body with auto 
    }
}

@media (min-width: 425px) {
    .responsiveGridWPassePartoutByMariePierreLessard {
        /* Override */
        grid-template-rows: repeat(4, 60vh); //Replacing auto because the positioned footer is over the body with auto 
    }
}

@media (min-width: 768px) {
    .responsiveGridWPassePartoutByMariePierreLessard {
        /* Override */
        grid-template-rows: repeat(2, 65vh); //Replacing auto because the positioned footer is over the body with auto 
    }
}

@media (min-width: 1440px) {
    .responsiveGridWPassePartoutByMariePierreLessard {
        /* Override */
        grid-template-rows: repeat(2, 45vh); //Replacing auto because the positioned footer is over the body with auto 
    }
}

/* #endregion Project-specific styling */